{% extends 'blog/base.html' %}
{% block title %} Share a Post {%endblock%}
{%block content%}
    {% if sent%}
        <h2>Email successfully sent</h2>
        <p>
            "{{post.title}}" was successfully sent to {{form.cleanned_data.to}}

        </p>
    {%else%}
        <h2>Share "{{post.title}}" via email</h2>    
        <form method="post">
            {%csrf_token%}
            {{form.as_div}}
            <input type="submit" value="Send e-mail">
        </form>
    {%endif%}
{%endblock%}